{% extends "base.html" %}
{% load static %}
{% block title %}n3{% endblock %}
{% block n3active %}active{% endblock %}
{% block body %}
    <div class="n3o" style="margin: 2rem">
    <h1 style="border-bottom: 4px solid black; text-align: center ;font-size: 50px ;margin-bottom: 15px ">N3 Course overview</h1>
        <div class="n3over">
        <h1 style="border-bottom: 2px  solid gray; text-align: center">650+ kanji and 3,750 vocabulary words.


</h1>
    <h1 style="border-bottom: 2px solid gray;">Intermediate grammar (e.g., advanced conditional forms, passive, causative, and honorific expressions).
</h1>
    <h1 style="border-bottom: 2px solid gray;">Listening skills for workplace, school, and real-life conversations.

</h1>
    <h1> Reading skills to comprehend longer texts like essays, news articles, and opinions.
</h1>
</div>
    </div>
    <style>
    .n3over{
        text-align: center;
        border-bottom: solid gray;
        font-family: Arial;
    }
    </style>
{% endblock %}