{% extends "base.html" %}
{% load static %}
{% block title %}n4{% endblock %}
{% block n4active %}active{% endblock %}
{% block body %}
   <div class="n4o" style="margin: 2rem">
    <h1 style="border-bottom: 4px solid black; text-align: center ;font-size: 50px ;margin-bottom: 15px ">N4 Course overview</h1>
        <div class="n4over">
        <h1 style="border-bottom: 2px  solid gray; text-align: center">You'll Learn:

300+ essential kanji and 1,500 words.

</h1>
    <h1 style="border-bottom: 2px solid gray;">Grammar for more fluent expressions (e.g., comparisons, conditions, purpose)</h1>
    <h1 style="border-bottom: 2px solid gray;">Listening skills for daily conversations.
</h1>
    <h1> Reading skills to understand basic passages and messages.</h1>
</div>
    </div>
    <style>
    .n4over{
        text-align: center;
        border-bottom: solid gray;
        font-family: Arial;
    }
    </style>
{% endblock %}