{% extends "base.html" %}
{% load static %}
{% block title %}n5{% endblock %}
{% block n4active %}active{% endblock %}
{% block body %}
    <div class="n5o" style="margin: 2rem">
    <h1 style="border-bottom: 4px solid black; text-align: center ;font-size: 50px ;margin-bottom: 15px ">N5 Course overview</h1>
        <div class="n5over">
        <h1 style="border-bottom: 2px  solid gray; text-align: center">100+ basic kanji and 800 essential words.

</h1>
    <h1 style="border-bottom: 2px solid gray;">Fundamental grammar (e.g., basic sentence structures, particles, and verb conjugations).</h1>
    <h1 style="border-bottom: 2px solid gray;">Listening skills for simple daily conversations.
</h1>
    <h1> Reading skills to understand hiragana, katakana, and simple kanji.
</h1>
</div>
    </div>
    <style>
    .n5over{
        text-align: center;
        border-bottom: solid gray;
        font-family: Arial;
    }
    </style>
{% endblock %}